<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classrooms | Laddie High School</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="icon" href="../img/icon/uniquee.png">

</head>

<body>
	<nav class="nav">
		<ul class="links">
			<p>
				<a href="../index.html"><img src="../img/icon/uniquee.png" height="50" width="50" alt=""></a>
            </p>
			<li>
				<a href="./hostel.html" >Hostel</a>
			</li>
			<li>
				<a href="./hall.html">Hall</a>
			</li>
			<li>
				<a href="#" class="active">Classrooms</a> 
			</li>

			<li>
				<a href="./library.html">Library</a>
			</li>
			<li>
				<a href="./C.labs.html">ComputerLabs</a>
			</li>

			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn">Menu</button>
				<li id="myDropdown" class="dropdown-content">
					<a href="./404.html?E-Learning">E-Learning</a>
					<a href="./404.html?Admin%Portal">Admin Portal</a>
					<a href="./404.html?Staff%Portal">Staff Portal</a>
				</li>
			</div>
		</ul>
	</nav>


	<div class=" home-body class">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				LADDIE HIGH SCHOOL
			</p>
			<h1>Classrooms  </h1>
			<span>
				~scroll down to explore
			</span>
		</div>
	</div>
	<div class="class content">
		<div class="card">
			<img src="../img/class/pexels-fauxels-3184163.jpg" alt="">
			<p>Self Testing</p>
		</div>
		<div class="card">
			<img src="../img/class/pexels-matthis-2305097.jpg" alt="">
			<p>Working together</p>

		</div>
		<div class="card">
			<img src="../img/class/pexels-fox-1595391.jpg" alt="">
			<p>Unity in problem Solving </p>

		</div>
		<div class="card">
			<img src="../img/class/pexels-yan-krukov-9071736.jpg" alt="">
			<p>Having fun after Class</p>
		</div>
		
	</div>
	<div class=" home-body infoclass">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				Read Books and boast your brain
			</p>

			<h5>“Success is getting what you want, happiness is wanting what you get.”</h5>
			<span>
				~Laddie high school
			</span>
		</div>
	</div>
	<div class="class content">
		<div class="card">
			<p style="color:silver;font-family:poppins;">Other Images</p>
		</div>
		</div>
	<div class="class content">
		<div class="card">
			<img src="../img/class/pexels-fauxels-3184612.jpg" alt="">
			<p>Real Designer</p>
		</div>
		
		<div class="card">
			<img src="../img/class/pexels-dmitry-zvolskiy-2253643.jpg" alt="">
			<p>Friendship </p>
		</div>
		<div class="card">
			<img src="../img/class/pexels-drew-williams-3143813.jpg" alt="">
			<p>Research</p>

		</div>
		<div class="card">
			<img src="../img/class/pexels-fox-1595391.jpg" alt="">
			<p>Unity in problem Solving </p>

		</div>
		
	</div>
	
	<div class="class content">
		<div class="card">
			<img src="../img/class/pexels-tima-miroshnichenko-5453894.jpg" alt="">
			<p>Working together</p>
		</div>
		<div class="card">
			<img src="../img/class/pexels-stanley-morales-1454360.jpg" alt="">
			<p>Working together Achieve more</p>
			<img src="../img/class/pexels-pixabay-267885.jpg" alt="">

		</div>
		<div class="card">
			<img src="../img/class/pexels-fox-1595391.jpg" alt="">
			<p>Unity in problem Solving </p>
			<img src="../img/class/pexels-elle-hughes-5155218.jpg" alt="">

		</div>
		<div class="card">
			<img src="../img/class/house1.jpg" alt="" style="transform: rotateY(180deg);">
			<p>Working together</p>
		</div>
		
	</div>
	

	
	
	<footer>
		&copy; Laddie High School 2022 Kigali,Rwanda
	</footer>
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
		window.onclick = function (event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>

	</div>
</body>

</html>