<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hostel | Laddie High School</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="icon" href="../img/icon/uniquee.png">

</head>

<body>
	<nav class="nav">
		<ul class="links">
			<p>
				<a href="../home.html"><img src="../img/icon/uniquee.png" height="50" width="50" alt=""></a>
			</p>
			<li>
				<a href="#" class="active">Hostel</a>
			</li>
			<li>
				<a href="./hall.html">Hall</a>
			</li>
			<li>
				<a href="./class.html">Classrooms</a>
			</li>

			<li>
				<a href="./library.html">Library</a>
			</li>
			<li>
				<a href="./C.labs.html">ComputerLabs</a>
			</li>

			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn">Menu</button>
				<li id="myDropdown" class="dropdown-content">
					<a href="./404.html?E-Learning">E-Learning</a>
					<a href="./404.html?Admin%Portal">Admin Portal</a>
					<a href="./404.html?Staff%Portal">Staff Portal</a>
				</li>
			</div>
		</ul>
	</nav>


	<div class=" home-body hostel">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				LADDIE HIGH SCHOOL
			</p>

			<h1>Hostel </h1>
			<span>
				~scroll down to explore
			</span>
		</div>
	</div>

    <div class="hostel content">
			<div class="card">
				<img src="../img/hostel/pexels-vecislavas-popa-1669799.jpg" alt="">
				<p>Private Villas</p>
			</div>
			<div class="card">
				<img src="../img/hostel/pexels-pixabay-271624.jpg" alt="">
				<p>Private Room</p>

			</div>
			<div class="card">
				<img src="../img/hostel/pexels-cats-coming-707581.jpg" alt="">
				<p>Room</p>

			</div>
			<div class="card">
				<img src="../img/hostel/pexels-ketut-subiyanto-4907223.jpg" alt="">
				<p>Student Hostel</p>
			</div>

	</div>
	<div class=" home-body infohost">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				Work hard and boast your brain
			</p>

			<h1> You achieving your goals is our concern
			</h1>
			<span>
				~Laddie high school
			</span>
		</div>
	</div>

	<div>
	</div>
	<div class="hostel content">
		<div class="card">
			<img src="../img/hostel/pexels-george-pak-7969104.jpg" alt="" style="padding-bottom:5px;">
			<br>
			<p>Private Villa</p>
		</div>
		<div class="card">
			<img src="../img/hostel/pexels-pixabay-271624.jpg" alt="">
			<p>Private Room</p>
			<img src="../img/hostel/house10.jpg" alt="">
			<p>Room</p>


		</div>
		<div class="card">
			<img src="../img/hostel/house7.jpg" alt="">
			<p>Private Villa</p>
			<img src="../img/hostel/house10.jpg" alt="">
			<p>Room</p>
				</div>
		<div class="card">
			<img src="../img/hostel/house6.jpg" alt="">
			<p>Private Villa</p>
			<img src="../img/hostel/house10.jpg" alt="">
			<p>Room</p>
		</div>

</div>
	<footer>
		&copy; Laddie High School 2022 Kigali,Rwanda
	</footer>
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
		window.onclick = function (event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>

	</div>
</body>

</html>