<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Library | Laddie High School</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="icon" href="../img/icon/uniquee.png">

</head>

<body>
	<nav class="nav">
		<ul class="links">
			<p>
				<a href="../home.html"><img src="../img/icon/uniquee.png" height="50" width="50" alt=""></a>
            </p>
			<li>
				<a href="./hostel.html" >Hostel</a>
			</li>
			<li>
				<a href="./hall.html">Hall</a>
			</li>
			<li>
				<a href="./class.html" >Classrooms</a> 
			</li>

			<li>
				<a href="#" class="active">Library</a>
			</li>
			<li>
				<a href="./C.labs.html">ComputerLabs</a>
			</li>

			<div class="dropdown">
				<button onclick="myFunction()" class="dropbtn">Menu</button>
				<li id="myDropdown" class="dropdown-content">
					<a href="./404.html?E-Learning">E-Learning</a>
					<a href="./404.html?Admin%Portal">Admin Portal</a>
					<a href="./404.html?Staff%Portal">Staff Portal</a>
				</li>
			</div>
		</ul>
	</nav>


	<div class="lib home-body">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				LADDIE HIGH SCHOOL
			</p>

			<h1>Library  </h1>
			<span>
				~scroll down to explore
			</span>
		</div>
	</div>
	<div class="lib content">
		<div class="card">
			<img src="../img/lib/pexels-pixabay-256455.jpg" alt="">
			<p>Book Store</p>
		</div>
		<div class="card">
			<img src="../img/lib/pexels-cottonbro-4855385.jpg" alt="">
			<p>Stories</p>

		</div>
		<div class="card">
			<img src="../img/lib/pexels-filipe-sabino-2065490.jpg" alt="">
			<p>Reading Practice</p>

		</div>
		<div class="card">
			<img src="../img/lib/pexels-cottonbro.jpg" alt="">
			<p>Novel Books</p>
		</div>
		
	</div>
	<div class=" home-body infolib">
		<div></div>
		<div class="block">
			<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
			<p>
				Read Books and boast your brain
			</p>

			<h5>“Success is getting what you want, happiness is wanting what you get.”</h5>
			<span>
				~Laddie high school
			</span>
		</div>
	</div>

<div>
</div>
<div class="div">
	"Nothing in the world can take the place of Persistence. 
	Talent will not; nothing is more common than unsuccessful men with talent.
	 Genius will not; unrewarded genius is almost a proverb. 
	 Education will not; the world is full of educated derelicts.
	  The slogan 'Confidentiality' has solved and always will solve the problems of the human race."
</div>

<div class="lib home-body">
	<div></div>
	<div class="block">
		<p><img src="../img/icon/uniquee1.png" alt="" height="90"></p>
		<p>
			LADDIE HIGH SCHOOL
		</p>

		<h1>Your School  </h1>
		
	</div>
</div>
<div class="lib content">
	<div class="card">
		<img src="../img/lib/pexels-cottonbro-4855427.jpg" alt="">
		<p>Book Store</p>
	</div>
	
	<div class="card">
		<img src="../img/lib/pexels-wendel-moretti-1850021.jpg" alt="">
		<p>Reading Practice</p>

	</div>
	<div class="card">
		<img src="../img/lib/pexels-ivan-bertolazzi-2681319.jpg" alt="">
		<p>You Have </p>
	</div>
	<div class="card">
		<img src="../img/lib/pexels-cottonbro-4855325.jpg" alt="">
		<p>Stories</p>

	</div>
</div>
	<footer>
		&copy; Laddie High School 2022 Kigali,Rwanda
	</footer>
	<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown if the user clicks outside of it
		window.onclick = function (event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
	</script>

	</div>
</body>

</html>